[Unit]
Description=Upload logs to S3 on shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/logs.sh
RemainAfterExit=true

[Install]
WantedBy=halt.target reboot.target shutdown.target
